
#logo {
  position: relative;
  margin: 0 auto;
  width: @logo-size;
  height: @char-size;
  animation: logo-anim 8s ease-in-out 4s infinite alternate;

  > * {
    position: absolute;
    left: 0;
    width: @char-size;
    height: @char-size;
    background-size: (@char-size * 5) @char-size;
    background-image: url("../logo/avine-sprite-@{sprite-alias}.png");
    animation: inherit;
  }

  [data-char="a"] {
    z-index: 4;
    background-position: 0px;
    left: @left-a;
    animation-name: logo-anim-a;
  }

  [data-char="v"] {
    z-index: 3;
    background-position: -@char-size;
    left: @left-v;
    animation-name: logo-anim-v;
  }

  [data-char="i"] {
    z-index: 5;
    background-position: -(@char-size * 2);
    left: @left-i;
    animation-name: logo-anim-i;
  }

  [data-char="n"] {
    z-index: 2;
    background-position: -(@char-size * 3);
    left: @left-n;
    animation-name: logo-anim-n;
  }

  [data-char="e"] {
    z-index: 1;
    background-position: -(@char-size * 4);
    left: @left-e;
    animation-name: logo-anim-e;
  }
}
