
// choose `32px`, `64px`, `128px`, `256px` or `512px`
@char-size: 256px; // 128px

@space: (@char-size / 16); // 8px
@line: (@char-size / 8); // 16px

@margin: (@char-size / 8);

@sprite-alias: unit(@char-size) * 2; // 256

@shift-v: (@line + 2 * @space + @space);
@shift-i: (@line + 2 * @space);

// choose `@space` or `0`
@delta: @space;

@left-a: 0;
@left-v: (@left-a + @shift-v - @delta);
@left-i: (@left-v + @shift-i - @delta);
@left-n: (@left-i + @char-size - @delta);
@left-e: (@left-n + @char-size - @delta);

@logo-size: (@left-e + @char-size);

@animation: 8s ease-in-out 4s infinite alternate;

@opacity: 0.8;
