
@class: avn-logo;

@animation-props: 8s ease-in-out 4s 2;

@keyframe-opacity: 0.8;

@base-size: 256; // choose `32`, `64`, `128`, `256` or `512`

@scale05-breakpoint: 960px;
@scale025-breakpoint: 480px;
@scale0125-breakpoint: 360px;

@scale05-margin-delta: 64px;
@scale025-margin-delta: 96px;
@scale0125-margin-delta: 110px;

// --- don't touch below ---

@sprite-size: @base-size; // TODO replace @sprite-size with @base-size

@anim-x: ~"@{class}";

@anim-a: ~"@{anim-x}-a";
@anim-v: ~"@{anim-x}-v";
@anim-i: ~"@{anim-x}-i";
@anim-n: ~"@{anim-x}-n";
@anim-e: ~"@{anim-x}-e";
@anim-p: ~"@{anim-x}-p"; // This is the "i" point!

@char-size: unit(@base-size, px);

@char-edge: (@char-size / 16);
@char-line: (@char-size / 8);

@shift-v: (@char-line + 2 * @char-edge + @char-edge);
@shift-i: (@char-line + 2 * @char-edge);
@shift-e: (@char-size - @char-line - @char-edge);

@spacing-delta: @char-edge; // choose `@char-edge` or `0`

@left-a: 0;
@left-v: (@left-a + @shift-v - @spacing-delta);
@left-i: (@left-v + @shift-i - @spacing-delta);
@left-n: (@left-i + @char-size - @spacing-delta);
@left-e: (@left-n + @shift-e - @spacing-delta);

@logo-size: (@left-e + @char-size);
@logo-margin: (@char-size / 8);
