
body {
  margin: 0;
  font: 16px normal Arial, Helvetica, sans-serif;
  background-color: #212121;
  color: #555;
}

body > header {
  background-color: #673AB7;
  overflow: hidden;
}

body > main {
  background-color: #fff;
}

body > main > * {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  line-height: 1.5em;
}

body > footer {
  padding: 32px 0;
  background-color: #212121;
  text-align: center;
}

a {
  color: #888 !important;
}

p {
  margin: 1.6em;
  line-height: 1.3em;
}

.avn-logo + p {
  margin-top: 0;
}

.align-center {
  text-align: center;
}

.links a {
  margin: 0 0.25em;
  padding: 0.3em 0.6em;
  border-radius: 3px;
  background-color: rgba(0,0,0, 0.1);
  text-decoration: none !important;
}

.ribbon {
  z-index: 8;
  position: fixed;
  right: 0;
  top: 100px;
  width: 175px;
  margin: 0;
  padding: 0.3em;
  box-shadow: 0 0 10px #000;
  border: 1px solid #777;
  background-color: #444;
  color: #ccc;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.ribbon a {
  text-decoration: none !important;
}

.back {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.3em 0.6em;
  border-bottom-right-radius: 3px;
  background-color: rgba(255,255,255, 0.1);
  text-decoration: none !important;
}
